body {
    background-color: rgb(67, 67, 242);

     animation: colorShift 60s infinite;
}

#intro {
    margin-bottom: 0;
    background-color: pink;
    border: 2px rgb(250, 102, 126) solid;
    border-radius: 15px;
}

.card {
    background-color: antiquewhite;
}

.card-img-top {
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.btn {
    animation: colorShift 1s infinite;

    border: solid 7px;
    animation-name: borderShift;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes colorShift {
    0% {
        background-color: rgba(150, 60, 235, 0.6);
        border-color: rgb(247, 165, 57);
    }
    6% {background-color: rgba(37, 139, 235, 0.6);}
    12% {background-color: rgba(27, 238, 203, 0.6);}
    18% {background-color: rgba(236, 240, 27, 0.6);}
    25% {
        background-color: rgba(235, 162, 45, 0.6);
        border-color: rgb(255, 255, 255);
    }
    31% {background-color: rgba(235, 60, 60, 0.6);}
    37% {background-color: rgb(255, 255, 255);}
    44% {background-color: rgb(248, 232, 9);}
    50% {
        background-color: rgba(255, 0, 0, 0.6);
        border-color: rgb(0, 0, 0);
    }
    56% {background-color: rgba(150, 60, 235, 0.6);}
    62% {background-color: rgba(37, 139, 235, 0.6);}
    68% {background-color: rgba(27, 238, 203, 0.6);}
    74% {
        background-color: rgba(236, 240, 27, 0.6);
        border-color: rgb(255, 255, 255);
    }
    80% {background-color: rgba(235, 162, 45, 0.6);}
    86% {background-color: rgba(235, 60, 60, 0.6);}
    90% {background-color: rgb(255, 255, 255);}
    95% {background-color: rgb(248, 232, 9);}
    100% {
        background-color: rgba(255, 0, 0, 0.6);
        border-color: rgb(247, 165, 57);
    }
}

#cloudHeart {
    animation: cloudHeart 6s infinite;
}

@keyframes cloudHeart {
    0% {box-shadow: 50px 50px 100px rgb(255, 230, 0)}
    25% {box-shadow: -50px -50px 700px rgb(255, 230, 0)}
    50% {box-shadow: 50px -50px 100px rgb(255, 30, 255)}
    75% {box-shadow: -50px 50px 100px rgb(255, 30, 255)}
    100% {box-shadow: 50px 50px 100px rgb(255, 230, 0)}
}